*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #fafaff;
	overflow: hidden;
}

.earth{
	position: relative;
	width: 400px;
	height: 400px;
	background: #0588e4 url('../images/earth.png');
	background-size: cover;
	border-radius: 50%;
	box-shadow: inset 0 0 50px rgba(0,0,0,0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	animation: animate 12s linear infinite;
}

.earth:active
{
	transform: scale(5);
}

.earth::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background: url('../images/cloud.png');
	background-size: cover;
	animation: animate 18s linear infinite;
	z-index: 1; 
}

.earth img{
	position: absolute;
	z-index: 2;
	transition: 0.5s;
	pointer-events: none;
	transform: scale(0.3) rotate(-90deg);
}

.earth:active img
{
	transform: scale(0.1) rotate(-90deg);
}

@keyframes animate{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 719px 0;
	}
}
