@import url('https://fonts.googleapis.com/css?family=Pacifico');
body
{
	margin: 0;
	padding: 0;
	font-family: 'Pacifico', cursive;
}
section
{
	position: relative;
	height: 100vh;
	animation: color-rotate 10s linear infinite;
	background: #003444;
}
@keyframes color-rotate
{
	0%
	{
		filter: hue-rotate(0deg);
	}
	100%
	{
		filter: hue-rotate(360deg);
	}
}
.center
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url(image.jpg);
	background-size: cover;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	box-shadow: 0 5px 10px rgba(0,0,0,.5), 0 0 0 15px rgba(2,35,54,1);
}
ul
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100px;
	animation: rotate 5s linear infinite;
}
ul.cr1
{
	top: 40%;
	left: 20%;
}
ul.cr2
{
	top: 25%;
	right: 25%;
}
ul.cr3
{
	top: 70%;
	right: 15%;
}
ul li
{
	position: absolute;
	width: 100px;
	height: 2px;
	background: #fff;
	list-style: none;
}
ul li:nth-child(1)
{
	transform: rotate(0deg);
}
ul li:nth-child(2)
{
	transform: rotate(90deg);
}
ul li:nth-child(3)
{
	transform: rotate(45deg);
}
ul li:nth-child(4)
{
	transform: rotate(-45deg);
}
ul li:before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #003444;
	transform: scaleX(.5);
	animation: animate 1s linear infinite;
}
p
{
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10%;
	color: #fff;
	font-size: 5em;
	text-shadow: 0 10px 20px rgba(0,0,0,.5);
}
@keyframes rotate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate 
{
	0%
	{
		transform: scaleX(.5);
	}
	50%
	{
		transform: scaleX(1);
	}
	100%
	{
		transform: scaleX(1);
	}
}